@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .hro {
        flex-direction: column;
        text-align: center;
        margin: 40px 0;
    }
    .sat {
        width: 80%;
        margin-bottom: 30px;
    }
    .htx {
        width: 100%;
        text-align: center;
    }
    .htx h1 {
        font-size: 36px;
    }
    .gal {
        flex-direction: column;
    }
    .spl {
        flex-direction: column;
        margin: 40px 0;
    }
    .vid, .blg {
        width: 100%;
    }
    .blg li {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .blg img {
        width: 100%;
        height: auto;
    }
    .lnk {
        flex-direction: column;
        gap: 10px;
    }
    .cht {
        width: calc(100% - 40px);
        bottom: 20px;
        right: 20px;
        height: 500px;
    }
    .fs-wrp {
        flex-direction: column;
    }
    .fs-sb {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--l);
        height: auto;
        padding: 10px 5%;
    }
    .fs-hs {
        display: none;
    }
    .fs-msg {
        padding: 20px 5%;
    }
    .fs-inp {
        padding: 15px 5%;
    }
}